{%extends "layout.html"%}
{%block content%}
<h1>About</h1>
<div class="about">
        <p>
            This website is used by schools to manage students.
            School admins can register their school in the register page.
            The login id of the admin who registers the school is the first letter of the school and 'ad1'.
            If school name is Bright Riders School, login id of the first admin is 'Bad1' 
            This admin can add other admins, teachers and students.
            Admin should provide members with their login ids.
            Password of everyone other than admin
            is 123456 at first. The other members should change it.
            Teachers can use this website to give assignments for students to submit.
        </p>
</div>
{%endblock%}