{%extends "layout.html"%}
{%block content%}
<h1>About</h1>
<div class="about">
        <p>
            This website is used by schools to manage students.
            School admins can register their school in the register page.
            An account will be created for the admin.
            This admin can add other admins, teachers and students.
            Admin should provide the newly added members with their login ids.
            Their passwords will be 123456.
            They should immediately change their passwords. 
            Teachers can assign homework for students.
            Students can turn in their completed assignments and the teachers will be able to
            download the submissions.
            Students can post questions and doubts they have and teachers can reply to them.
        </p>
</div>
{%endblock%}