{% extends "layout.html" %}
{% block content %}
<div>
    <h3 class="turned_in">My Information</h3>
    <a class='changepass' href="{{ url_for('change_pass') }}">Change Password</a>
        <table>
            <tr>
                <th><h4>Name</h4></th>
                <th><h4>User</h4></th>
                <th><h4>School</h4></th>
            </tr>
            <tr>
                <td><h4>{{ current_user.name }}</h4></td>
                <td><h4>{{ current_user.user_type }}</h4></td>
                <td><h4>{{ current_user.school }}</h4></td>
            </tr>
        </table> 
    </div>
    
    {% endblock content %}
