{%extends "layout.html"%}
{%block content%}
<h1>Home</h1>
<div class="home">
    {% if current_user.is_authenticated %}
        <ul class='newpost'> 
        <li><a class='change' href="{{ url_for('new_post') }}">New Post</a></li>
        
            {% if current_user.user_type == 'admin' -%}
                <li><a class='change' href="{{ url_for('add_users') }}">Add Users</a></li>
            {% endif %}
            </ul>
        {% for post in posts %}
            <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <h4 class="mr-2" href="#">{{ post.author.name }}</h4>
                <h6 class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</h6>
                </div>
                <h2><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
            </article>
        {% endfor %}
    {% else %}
        <p>
            Register your school in the register page.
            For more information go to about page.
        </p>
    {% endif %}
</div>
{%endblock%}
